* {
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-end;
}

header ul,
footer ul {
  list-style: none;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project {
  background-color: maroon;
  border: blue solid 1px;
}
