* {
  margin: 0;
}

:root {
  --primary-color: #023047;
  --secondary-color: #006466;
  --text-primary-color: #fff;
  --text-secondary-color: #ddd;
}

body {
  background-image: radial-gradient(
      circle at 35% top,
      #006466,
      #212f45,
      #4d194d
    ),
    url(./assets/background.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.125rem;
  color: var(--text-primary-color);
}

header {
  background-color: rgba(2, 48, 71, 0.7);
}

footer {
  margin-top: 50px;
  border-top: 1px solid var(--text-primary-color);
}

header ul,
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1vw;
  color: var(--text-secondary-color);
}

footer li {
  font-size: 3rem;
}

footer li:hover,
header li:hover {
  color: var(--text-primary-color);
  transition: color 0.25s;
}

nav {
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 0 1vw;
  margin: 0 2vw;
}

nav li:hover {
  border-bottom: 1px solid;
  transition-timing-function: ease-in;
}

main {
  padding: 0 10vw;
}

section {
  padding: 3vw;
}

h1 {
  padding: 10px;
  font-size: 3rem;
}

h2 {
  padding: 5px;
  font-size: 2rem;
  margin: 10px 0;
  border-bottom: 1px solid;
}

h3 {
  padding: 3px;
  font-size: 1.5rem;
  border-bottom: 1px solid;
}

form {
  width: 50%;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
}

input {
  border: none;
  border-radius: 5px;
}

textarea {
  border: none;
  border-radius: 5px;
}

button {
  font-size: large;
  padding: 10px;
  color: var(--text-primary-color);
  background-color: var(--secondary-color);
  border: var(--primary-color) solid 1px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.activeNav {
  color: var(--secondary-color);
  border-left: 5px solid;
}

#about-section {
  display: flex;
  flex-direction: column;
}

#profile-image {
  margin: 2vh auto;
  height: 200px;
  width: 200px;
  border: solid 5px var(--primary-color);
  border-radius: 50%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  color: var(--text-secondary-color);
  max-height: 400px;
  max-width: 400px;
  margin: 1vh 1vw;
}

.project-details {
  padding: 1rem;
  margin-top: 1rem;
  max-width: 50%;
  position: absolute;
  background-color: var(--primary-color);
  opacity: 70%;
}

.project:hover > .project-details {
  color: var(--text-primary-color);
  opacity: 100%;
  transition: ease-in 0.25s;
}

.project img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
